pydantic_settings
uvicorn
fastapi
unstructured
poppler-utils
pdfminer.six
pi_heif
unstructured_inference
pdf2image
boto3
pytesseract
unstructured-pytesseract
unstructured[all-docs]
streamlit
weaviate-client
pymongo